{% extends "base.html" %}

{% block nav %}
	<li><a href="{{ url_for('dedupe') }}">Dedupe</a></li>
	<li><a href="{{ url_for('ip') }}">IP Filters</a></li>
	<li><a href="{{ url_for('sender') }}">Sender Filters</a></li>
	<li><a href="{{ url_for('recipient') }}">Recipient Filters</a></li>
	<li class="active"><a href="{{ url_for('content') }}">Content Filters</a></li>
	<li><a href="{{ url_for('attachment') }}">Attachment Filters</a></li>
{% endblock %}

{% block content %}
	<h2>Content filters</h2><br>
	<div class="filters" style="display: flex;">

		{% if inbound %}
		<div>
			<h4>Inbound</h4>
			<form method="post" name="form">
				<textarea name="filter-input" rows="10" cols="60">{{ inbound }}</textarea><br>
			</form><br>
			<h4>Outbound</h4>
			<form method="post" name="form">
				<textarea name="filter-input" rows="10" cols="60">{{ outbound }}</textarea><br>
			</form>
		</div>
		{% else %}
		<div>
			<form method="post" name="form">
				<textarea name="filter-input" rows="20" cols="60" placeholder="Enter filters">{{ input }}</textarea><br>
				<input class="btn btn-primary" type="submit" value="Convert">
			</form>
		</div>
		{% endif %}
		<div>
			<ul>
				<li>
					<b>Required formatting:</b><br>
					<p style="font-size: small">Pattern,Comment,Inbound Action,Outbound Action,Subject,Header,Body</p>
				</li>
                {% if dupes_in %}
                <h4>Duplicate entries removed: {{ dupe_num }}</h4>
				<h4>Inbound duplicates:</h4>
                {% for dupe in dupes_in %}
				<li>
                    {{ dupe }}
				</li>
                {% endfor %}
				{% endif %}
				{% if dupes_out %}
                <br><br><br><br><br><br><br>
                <h4>Duplicate entries removed: {{ dupe_num }}</h4>
				<h4>Outbound duplicates:</h4>
                {% for dupe in dupes_out %}
				<li>
                    {{ dupe }}
				</li>
                {% endfor %}
                {% endif %}
			</ul>
		</div>
	</div>
{% endblock %}